@media screen and (max-width: 1150px) {
  .col-md-7 {
    min-width: 100% !important;
  }
  .col-md-5 {
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
}

#headerPopup{
  width:75%;
  margin:0 auto;
}

#headerPopup iframe{
  width:100%;
  margin:0 auto;
}

.dropdown-menu {
    margin-top: 0.5rem;
    font-size: 0.85rem !important;
    width: 500px !important;
    box-shadow: 4px 4px 4px grey;
}

a.dropdown-item.active {
  background: black;
  opacity: 0.9;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-size: 0.9rem;
  opacity: 0.3;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
  color: black;
  font-size: 0.9rem;
  opacity: 0.3;
}

.dt-button.csvButton, .dt-button.excelButton {
  color: black;
  border-radius: 8px;
  border-color: #FFC300;
  background: #FFC300;
}

.dt-button:hover {
  color: black !important;
  border-color: #FFC300 !important;
  background: #FFC300 !important;
  opacity: 0.7;
}

a.page-link {
  color: #900C3F !important;
  font-size: 0.9rem;
}

.pagination .page-item.active .page-link {
  background-color: #900C3F;
  color: white !important;
  border-color: #900C3F;
}

#datatable_wrapper {
  padding: 1rem;
}

#datatable td {
  font-size: 0.9rem;
}

.btn.demoButton, .btn.demoButton:hover {
  background-color: white;
  border-color: #900C3F;
  color: #900C3F;
}
.btn:hover {
  background-color: #900C3F;
  border-color: #900C3F;
  opacity: 0.8;
}

.btn {
  background-color: #900C3F;
  border-color: #900C3F;
}


td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

.smallTable:hover {
  background-color: white !important;
}
